# Audacity files ---------------------------------------------------------------------------------------------------------------------
*.aup3

# Trained models ---------------------------------------------------------------------------------------------------------------------
Trained_models/
